@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    /* font size */
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;

    /* font weight */
    --fw-normal: 400;
    --fw-bold: 700;

    /* colors */
    --clr-cyan: hsl(179, 62%, 43%);
    --clr-bright-yellow:hsl(71, 73%, 54%);
    --clr-light-gray: hsl(204, 43%, 93%);
    --clr-grayish-blue:hsl(218, 22%, 67%);

}

body{
    font-family: "DM Sans", serif;
    width: 1440px;
    background-color: var(--clr-light-gray);
    font-size: var(--fs-400);
    line-height: 1.2;
    display: grid;
    justify-content: center;
    align-items: center;
}


.content-layout{
    display: grid;
    
    width: 960px;
    grid-template-rows: 2;
    
}

span{
    opacity: 0.3;
}
h1{
    color: var(--clr-cyan);
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
}

.bright-yellow-p{
    color: var(--clr-bright-yellow);
    font-weight: var(--fw-bold);
    font-size: var(--fs-400);
}

.grayish-blue-p{
    color: var(--clr-grayish-blue);
    font-size: var(--fs-400);
    
}

input[type=button]{
    width: 100%;
    height: 50px;
    font-size: var(--fs-400);
    background-color: hsla(71, 73%, 54%);
    border-radius: 15px;
    color: var(--clr-light-gray);
    border: none;
    outline: none;
}
 input:hover{
    cursor: pointer;
    background-color: var(--clr-grayish-blue);
 }
.card{
    padding:20px;
    

}

.flex-items{
    display: flex;
}


.subscription{
    background-color: var(--clr-cyan);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    line-height: 1.8;
    
}

.why-us{
    background-color: hsla(179, 62%, 43%, 0.5);
}
.subscription.card p, .why-us.card p{
    color: var(--clr-light-gray) ;
  
    width: 350px;
}

h2{
    color: var(--clr-light-gray);
    font-weight: var(--fw-bold);
    font-size: var(--fs-500);
   
}

.sub-p{
    margin-bottom: 30px;
    font-size: var(--fs-500);

}

@media (max-width:960px){
    
.content-layout{
    display: grid;
    width: 960px;
    grid-template-rows: 2;
    justify-content: center;
}
.flex-items{
    display: flex;
}

}
@media (max-width:375px){
    
    .content-layout{
        display: grid;
        width: 375px;
        grid-template-rows: 3;
        justify-content: center;
    }
    .flex-items{
        display: flex;
        flex-direction: column;
    }
    body{
        font-family: "DM Sans", serif;
        width: 375px;
        background-color: var(--clr-light-gray);
        font-size: var(--fs-400);
        line-height: 1.2;
        display: grid;
      
    }
    
    
    }

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }